<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="demo-emisor">
  <template>
    <style>
      :host {
        display:block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <button on-click="hacerLogin">pulsame</button>
  </template>
  <script>
    class DemoEmisor extends Polymer.Element {
      static get is() { return 'demo-emisor'; }
      static get properties() {
        return {
          userId: {
            type: Number
          }
        };
      }
      hacerLogin(e){
        console.log("Emisor: Pulsaron el botton");
        this.dispatchEvent(new CustomEvent("loginok",{detail:{origen:"TechU", pais:"colombia",usuario:"Paco"}}));
        // Sin guiones ni mayusculas el details_     //es obligatorio
      }
    }

    window.customElements.define(DemoEmisor.is, DemoEmisor);
  </script>
</dom-module>
