<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/colapi-controler/colapi-login.html">
<link rel="import" href="/src/colapi-controler/colapi-escritorio.html">

<dom-module id="colapi-controler">
  <template>
    <style>
      :host {
        display: block;
      }
      colapi-login[hidden] {
       display: none;
     }
      colapi-escritorio[hidden] {
       display: none;
     }
    </style>
     <colapi-login id="login" hidden$="{{!logeado}}"></colapi-login>
     <colapi-escritorio id="visor" hidden$="{{logeado}}"></colapi-escritorio>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ColapiControler extends Polymer.Element {
      static get is() { return 'colapi-controler'; }
      ready() {
        super.ready()
        this.$.login.addEventListener('loginOk', e => {this.procesarLogin(e)})
        this.$.visor.addEventListener('logoutOk', l => {this.procesarLogout(l)})
      }
      static get properties() {
        return {
          logeado: {
            type: Boolean,
            value:true
          }
        };
      }
      procesarLogin(e){
        var id = e.detail.id;
        this.$.visor.miVisor(e.detail);
        this.logeado =false;
      }
      procesarLogout(l){
        this.$.login.logout(l.detail);
        this.logeado = true;
      }
    }
    window.customElements.define(ColapiControler.is, ColapiControler);
  </script>
</dom-module>
