<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">
<link rel="import" href="../../bower_components/google-map/google-map-search.html">
<link rel="import" href="../../bower_components/google-map/google-map-marker.html">
<link rel="import" href="/src/colapi-controler/colapi-usuario.html">

<dom-module id="colapi-escritorio">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style>
    :host {
      display: block;
    }
    #map {
      height: 400px;
      width: 80%;
    }
    table {
      width: 100%;
      height: 80px;
      align: center;
      background-color: #2a86ca;
    }
    bannerUsuario {
      border: 0;
      background-color: #094fa4;
      text-align:center;
      width: 100%;
    }
    .movimientos{
      height: 70%;
      width: 60%;
      border-radius: 5px;
      float: center;
      background-color: white;
      position: absolute;
      left: 20%;
      top: 20%;
      overflow: scroll;
      border:2px solid blac;
      -webkit-border-radius: 20px 20px 20px 20px;
      opacity: 1;
      z-index: 999999;
    }
    .movimientoFondos{
      background-color: black;
      opacity: 0.5;
      filter: alpha(opacity=50);
      z-index: 99;
      width: 100%;
      height: 100%;
      border: 0;
      top: 0%;
    }
    .maps{
      height: 80%;
      width: 90%;
      border-radius: 5px;
      float: center;
      background-color: white;
      position: absolute;
      left: 5%;
      top: 10%;
      border: 2px solid blac;
      -webkit-border-radius: 20px 20px 20px 20px;
      opacity: 1;
      z-index: 999999;
    }
    </style>
    <!-- Banner del usuario -->
    <div class="bannerUsuario row" style="background-color: #c4e2f6;">
     <div style="width: 20%; padding: 2% 0">
       <center>
         <img src=[[avatar]] alt="Imagen Perfil" style="width:80px;height:80px;">
       </center>
     </div>
     <div style="width: 60%; padding: 2% 0;">
         <h2>Bienvenido <strong>{{userName}} {{lastName}}</strong></h2>
     </div>
     <div style="width: 20%; padding: 2% 0;">
       <center>
         <button class="btn btn-warning" on-click="logout">Logout</button>
       </center>
     </div>
    </div>
    <!-- Datos de las cuentas del cliente -->
    <div style="text-align:center;">
    <br/>
    <br/>
    <br/>
    <table class="table table-striped table-primary">
      <tr style="background-color:#094fa4; color:white;">
        <td scope="col" colspan="4"><h3><strong>Cuentas</strong></h3></td>
      </tr>
      <tr style="background-color:#094fa4; color:white;">
        <td scope="col">IBAN</td>
        <td scope="col">SALDO</td>
        <td scope="col">DETALLE</td>
        <td scope="col">OFICINA</td>
      </tr>
      <template is="dom-repeat" id="accountUserId" items="{{accounts}}">
      <tr>
        <td scope="row">{{item.accountIban}}</td>
        <td>{{item.accountSaldo}}</td>
        <td><a class="btn btn-outline-primary" on-click="listmoviment">Movimientos</a></td>
        <td><a class="btn btn-outline-primary" on-click="verOficina">{{item.accountOficina}}</td>
      </tr>
      </template>
    </table>
    <!-- Movimientos -->
    <div class="movimientoFondos" style="position: fixed;" hidden$="{{!mostrarMovimientos}}">
    </div>
    <div class="movimientos" hidden$="{{!mostrarMovimientos}}">
      <div class="bannerUsuario row">
        <div style="width:70%; text-align:center;">
          <h5 class="col-lg-12"><strong>Cuenta: {{IBAN}} </strong></h5>
        </div>
        <div style="width:30%; text-align:left;">
          <button class="btn btn-warning" on-click="salirMovimientos">Salir</button>
        </div>
      </div>
      <table class="table table-primary table-bordered table-striped " style="width:100%r">
        <tbody>
          <tr style="background-color:#094fa4; color:white;">
            <td scope="col">Nª</td>
            <td scope="col">IBAN</td>
            <td scope="col">MONTO</td>
            <td scope="col">FECHA</td>
            <td scope="col">TIPO</td>
          </tr>
          <template is="dom-if" if="{{!activo}}">
            <template is="dom-repeat" id="movementUserId" items="{{movements}}">
              <tr>
                <td>{{item.movementId}}</td>
                <td  scope="row">{{item.movementIban}}</td>
                <td>{{item.movementMonto}}</td>
                <td>{{item.movementFecha}}</td>
                <td>{{item.movementTipo}}</td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
    <!-- oficinas -->
    <div class="movimientoFondos" style="position: fixed;" hidden$="{{!mostrarOficinas}}">
    </div>
    <div class="maps" hidden$="{{!mostrarOficinas}}">
      <div class="bannerUsuario row">
        <div style="width:70%; text-align:center;">
          <h2 class="col-md-12"><strong>Datos de Oficina</strong></h2>
        </div>
        <div style="width:30%; text-align:left;">
          <button class="btn btn-warning" on-click="salirOficinas">Salir</button>
        </div>
      </div>
      <table align="Justify" style="color:white;">
        <tr>
          <th>Oficina #: </th>
          <th>{{officeId}}</th>
        </tr>
        <tr>
          <td>Nombre Oficina: </td>
          <td>{{officeName}}</td>
        </tr>
      </table>
      <google-map latitude="{{officeLatitud}}" longitude="{{officeLongitud}}" api-key="AIzaSyBeV5G9JwzmPgqo32kprSP_51Pk8K904Io" zoom="10" disable-default-ui>
        <google-map-marker latitude="{{officeLatitud}}" longitude="{{officeLongitud}}" draggable="true"></google-map-marker>
      </google-map>
    </div>
    <footer style="position:fixed;sleft:0px;bottom:0px;width:100%;display:block; background-color: #094fa4; color:white;">
      <div class="bannerUsuario row">
        <div style="width:10%;">
          <p>colApi V 1.0</p>
        </div>
        <div style="width:90%;text-align:right;">
          <p>Mantilla Marsella<br>Diaz Luis</p>
        </div>
      </div>
    </footer>
    <iron-ajax
      id="getUser"
      url="https://colapi-co.appspot.com/colapi/v1/user/{{id}}/"
      method="GET"
      handle-as="json"
      on-response="manageAJAXResponse0"
      on-error="showError">
    <iron-ajax
      auto
      id="getAccounts"
      url="https://colapi-co.appspot.com/colapi/v1/user/{{id}}/account"
      method="GET"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    <iron-ajax
      id="getMovement"
      url="https://colapi-co.appspot.com/colapi/v1/user/{{user}}/account/{{IBAN}}/movement"
      method="GET"
      handle-as="json"
      on-response="manageAJAXResponse2"
      on-error="showError">
      <iron-ajax
        id="getOffice"
        url="https://colapi-co.appspot.com/colapi/v1/office/{{oficina}}/"
        method="GET"
        handle-as="json"
        on-response="viewOffice"
        on-error="showError">
    </template>

 <script>
   class ColapiEscritorio extends Polymer.Element {
     static get is() { return 'colapi-escritorio'; }
     static get properties() {
       return {
           accountOficina: {
           type: Number
         }, accountIban: {
           type: String
         }, mostrarMovimientos: {
           type: String,
           value:false
         }, mostrarOficinas: {
           type: String,
           value:false
         }, accountSaldo: {
           type: Number
         }, accounts:{
           type: Array
         }, detail:{
           type: Array
         }, IBAN:{
           type: String
         },ofLatitud: {
         type: Number
        }, ofLongitud: {
         type: Number
        }, oficina: {
         type: Number
        },avatar: {
         type: String
        },userName: {
         type: String
        },lastName: {
         type: String
        },userId: {
         type: Number
        },id: {
         type: Number
        },userToken: {
         type: String
        }
       };
     }

     miVisor(data0){
       this.id = data0.id;
       this.userEmail = data0.userEmail;
       this.userToken = data0.userToken;
       this.$.getUser.generateRequest();
     }
     salirMovimientos(){
       this.mostrarMovimientos=false;
     }
     salirOficinas(){
       this.mostrarOficinas=false;
     }
     manageAJAXResponse0(e) {
       this.avatar = e.detail.response[0].avatar;
       this.userName = e.detail.response[0].userName;
       this.lastName = e.detail.response[0].userApellido;
       this.id = e.detail.response[0].userId;
     }
     listaccount(a) {
       this.id = a.model.item.userId;
       this.$.getAccounts.generateRequest();
     }
     manageAJAXResponse(data) {
       this.accounts = data.detail.response;
     }
     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }
     listmoviment(b) {
       this.mostrarMovimientos=true;
       this.activo = false;
       this.map = true;
       this.IBAN = b.model.item.accountIban;
       this.user = b.model.item.accountUserId;
       console.log(this.IBAN);
       console.log(this.user);
       console.log("El usuario ha pulsado el botón.22");
       this.$.getMovement.generateRequest();
       console.log("Petición enviada");
     }

     manageAJAXResponse2(data2) {
       console.log("Recibida respuesta del servidor");
       console.log(data2.detail.response);
       this.movements = data2.detail.response;
     }
    verOficina(c){
      this.mostrarOficinas=true;
      this.map = false;
      this.activo = true;
      this.oficina = c.model.item.accountOficina;
      this.$.getOffice.generateRequest();
    }
    viewOffice(e) {
      this.officeId = e.detail.response[0].officeId;
      this.officeName = e.detail.response[0].officeName;
      this.officeLatitud = e.detail.response[0].officeLatitud;
      this.officeLongitud = e.detail.response[0].officeLongitud;
    }
    logout() {
       var id = this.id;
       var userEmail = this.userEmail;
       var userToken = this.userToken;
       this.dispatchEvent(new CustomEvent('logoutOk', {detail:{"id": id,"userEmail": userEmail,"userToken": userToken}}))
     }
  }
   window.customElements.define(ColapiEscritorio.is, ColapiEscritorio);
 </script>
</dom-module>
