<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="colapi-login">
  <template>
    <link rel="stylesheet" type="text/css" href="../../css/login.css" media="screen" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style>
      .imagen {
          color: #004481;
          font-family: "Bentons Sans": bold;
          font-style: normal;
          color: #004481;
          margin-top: 20%;
          width: 100%;
          height: 200%;
        }
        .cargando{
          background-color: black;
          opacity: 0.5;
          filter: alpha(opacity=50);
          z-index: 9999;
          width: 100%;
          height: 100%;
          border: 0
        }
    </style>
    <div class="cargando" style="position: fixed;" hidden$="{{!isConsulting}}">
      <div style="margin-top: 20%;">
        <center>
          <img style="text-center" src="../../img/Cargando.gif" alt="Cagando" width="10%">
        </center>
      </div>
    </div>
    <div class="alert alert-danger" hidden$="{{!isLogged}}" >
       <span >Msj: {{mensajeLogin}}</span>
    </div>
    <div class="imagen login-page  form login-form" style="text-align:center;">
      <img src="../../img/bbva.png" alt="BBVA" width="70%">
      <table class="imagen" align="center">
        <tr>
          <th><input type="email" placeholder="example@gmail.com"/ value="{{userEmail::input}}"></th>
        </tr>
        <tr>
          <td><input type="password" placeholder="Password" value="{{userPassword::input}}"/></td>
        </tr>
        <tr >
          <td colspan="3"><button class="btn btn-info" on-click="login" style="width:100%;">Login</button></td>
        </tr>
        <tr>
          <td><p class="message">colApi V1 - Front</a></p></td>
        </tr>
      </table>
    </div>
    <iron-ajax
      id="doLogin"
      url="https://colapi-co.appspot.com/colapi/v1/session/Login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="loginCorrecto"
      on-error="showError">
      <iron-ajax
       id="doLogout"
       url="https://colapi-co.appspot.com/colapi/v1/session/Logout"
       content-type="application/json"
       method="POST"
       handle-as="json"
       on-response="manageAJAXRes2"
       on-error="showError">

 </template>
  <script>
    class ColapiLogin extends Polymer.Element {
      static get is() { return 'colapi-login'; }
      static get properties() {
        return {
          userEmail:{
            type:String
          },userPassword:{
            type:String
          },userToken:{
            type:String
          },mensajeLogin:{
            type:String
          },id:{
            type:Number
          },isConsulting:{
            type:Number,
            value: false
          },isLogged:{
            type: Boolean,
            value: false
          }
        };
      }
      login() {
        this.isConsulting=true;
        var loginData = {
          "userEmail" : this.userEmail,
          "userPassword" : this.userPassword
        };
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
      }
      loginCorrecto(e) {
        // this.isLogged=true;
        var userToken = e.detail.response.sessionToken;
        var id = e.detail.response.sessionId;
        var userEmail = e.detail.response.sessionCorreo;
        this.isConsulting= false;
        this.isLogged=false;
        this.dispatchEvent(new CustomEvent('loginOk', {detail:{"id": id,"userEmail": userEmail,"userToken": userToken}}))
      }
      showError(error) {
        this.isLogged=true;
        this.isConsulting=false;
        if (error.detail.request.Msg){
          this.mensajeLogin = error.detail.request.Msg;
        }else{
          this.mensajeLogin = "Error de credenciales..";
        }
        this.isNotLogged=true;
        }
        logout(f) {
        this.userEmail="";
        this.userPassword="";
        this.usuarioId="";
        var logoutData = {
        "sessionCorreo" : f.userEmail,
          "sessionToken" : f.userToken

        };
        this.$.doLogout.body = JSON.stringify(logoutData);
        // hacemos petición con los datos del formulario del iron-ajax
        this.$.doLogout.generateRequest();
      }
      manageAJAXRes2(data) {
        console.log("Recibida respuesta2 del servidor");
        console.log("login", data.detail.response);
      }
    }
    window.customElements.define(ColapiLogin.is, ColapiLogin);
  </script>
</dom-module>
